.git
.yarn/cache
.yarn/install-state.gz
node_modules
packages/*/node_modules
plugins
**/.DS_Store
**/.env
**/.env.local
**/coverage
**/.turbo
**/*.log
.gitignore
Dockerfile*
docker-compose*.yml
*credentials*.json
*credentials*.yaml
