# Ignore files for Docker builds
# --- Git ---
.git

# --- Node ---
.yarn/cache
.yarn/install-state.gz
node_modules
packages/*/node_modules
packages/*/dist

# --- Backstage ---
plugins

# --- Misc ---
**/.DS_Store
**/.env
**/.env.local
**/coverage
**/.turbo
**/*.log

# Ignore configuration and credential files
.gitignore
Dockerfile*
docker-compose*.yml
*credentials*.json
*credentials*.yaml
