---
apiVersion: v1
kind: Namespace
metadata:
  name: backstage-test
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: example-app
  namespace: backstage-test
  labels:
    app: example-app
    backstage.io/kubernetes-id: example-component
spec:
  replicas: 2
  selector:
    matchLabels:
      app: example-app
  template:
    metadata:
      labels:
        app: example-app
        backstage.io/kubernetes-id: example-component
    spec:
      containers:
      - name: nginx
        image: nginx:alpine
        ports:
        - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: example-app
  namespace: backstage-test
  labels:
    app: example-app
    backstage.io/kubernetes-id: example-component
spec:
  selector:
    app: example-app
  ports:
  - port: 80
    targetPort: 80
